body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Averia Sans Libre", sans-serif;
}

body,
.snake {
  background-color: #5a755f;
}

#gameBoard {
  display: grid;
  background-color: #dee3df;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
}

.game-border-1 {
  border: #9bbd9c solid 20px;
  border-radius: 15px;
  box-shadow: inset 0 0 0 30px #9bbd9c;
}

.game-border-2 {
  border: #5a755f solid 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 0 20px #5a755f;
}

/*   */

.scores {
  display: flex;
  justify-content: space-between;
  color: #9bbd9c;
}

.hight-score {
  display: none;
}

.snake {
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #9bbd9c;
  border: #9bbd9c 5px solid;
}

#logo {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  width: 400px;
  height: 400px;
}

#description-start {
  color: #9bbd9c;
  text-align: center;
  font-size: 19px;
}

.arrows-container {
  display: none;
  height: fit-content;
  margin: 50px 0;
}

.arrow-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 15px 0;
}

#row {
  justify-content: space-evenly;
}

#up {
  transform: rotate(-90deg);
}

#left {
  transform: rotate(180deg);
}

#down {
  transform: rotate(90deg);
}

#start {
  color: #9bbd9c;
  padding-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .arrows-container {
    display: block;
  }
  .game-border-1 {
    max-width: 360px;
  }
  .game-border-1 {
    max-width: 360px;
    max-height: 360px;
  }

  #logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 280px;
    height: 280px;
  }

  #gameBoard {
    grid-template-columns: repeat(20, 14px);
    grid-template-rows: repeat(20, 14px);
  }

  #description-start {
    display: none;
  }
}
